body {
margin: 0;
font-family: Arial;
}


.header {
background-color: #222;
color: white;
padding: 15px;
display: flex;
justify-content: space-between;
align-items: center;
}


.header a {
color: white;
margin-left: 15px;
text-decoration: none;
}


.hero {
text-align: center;
padding: 60px;
background-color: #f4f4f4;
}


button {
padding: 10px 20px;
background-color: #007bff;
color: white;
border: none;
}


.services {
display: flex;
justify-content: space-around;
padding: 20px;
}


.card {
background-color: #ddd;
padding: 30px;
width: 30%;
text-align: center;
}


.footer {
background-color: #222;
color: white;
text-align: center;
padding: 10px;
}


/* Responsive */
@media (max-width: 768px) {
.services {
flex-direction: column;
}


.card {
width: 90%;
margin: 10px auto;
}
}
